body{
font-family:Roboto;
padding-left:20px;
margin-left:10px;
}
.h1{
font-family:Roboto ;
padding-left:10px;
margin-left:10px;
font-size:30px;
}
.p-1{
color:green;
margin-left:10px;
padding-left:10px;
}
.street{
padding-left:10px;
margin-left:10px;
}
.skills,
.education,
.exprience,
.internet{
font-size:14px;
color:green;
padding-left:10px;
margin-left:20px;
margin-bottom:10px;
margin-top:20px;
}

.skills-I{

margin-left:20px;
padding-left:10px;
margin-bottom:10px;
}
.school-name{
color:blue;
margin-bottom:10px;
margin-top:7px;
margin-left:10px;
padding-left:10px;
}
.education-p{
margin-left:20px;
max-height:5px;
}
.exprience-I{
color:blue;
margin-left:20px;
}
.linked-in{
border-radius:10px;
background-color:#1e90ff;
color:white;
padding:10px
}
.git-hub{
border-radius:10px;
background-color:#778899;
color:white;
padding:10px
}
.git-hub:hover{
color:#778899;
background-color:white;
transform:0.3s;
}
.linked-in:hover{
color:#1e90ff;
background-color:white;
transform:0.3s;
}

